* {
    margin: 0;
    padding: 0;
}


.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    
}

.navbar {
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    background-image: url(./images/background.png);
    height: 300px;
}

